.ant-layout-sider {
  max-width: 236px !important;
  min-width: 230px !important;
  width: 100% !important;
}

.ant-menu-title-content {
  padding: 0 !important;
}

.ant-menu-item[data-menu-id="rc-menu-uuid-/guests"] {
  padding-left: 9px !important;
  margin: 0 0 8px !important;
  width: 100%;
}

.ant-menu-inline .ant-menu-item:not([data-menu-id="rc-menu-uuid-/guests"]) {
  margin: 8px 0 8px 28px !important;
  width: 100%;
  max-width: 165px !important;
  color: var(--neutral-gray-1);
  padding: 9px !important;
  overflow: visible !important;

  &:last-child {
    margin-bottom: 0 !important;
  }

  &.ant-menu-item-selected {
    position: relative;
    background: rgba(229, 242, 255, 1);

    &[data-menu-id="rc-menu-uuid-/guests"] {
      margin-left: 0 !important;
      width: 100%;
      max-width: 100% !important;
      background: var(--primary-light-1);
      color: var(--white-color);
    }

    &:not([data-menu-id="rc-menu-uuid-/guests"])::before {
      position: absolute;
      content: "";
      left: -17px !important;
      top: 40%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--primary-light-1);
      z-index: 40 !important;
    }
  }
}

.ant-menu-submenu {
  margin-bottom: 16px;
}

.ant-menu-submenu-title {
  padding: 9px !important;
  margin: 0 !important;
  width: 100% !important;

  & > span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.ant-menu-submenu-open {
  & path {
    stroke: var(--white-color);
  }

  & > div {
    background: var(--primary-light-1) !important;
    color: var(--white-color) !important;
  }
}

.ant-menu-sub {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 14px !important;
    width: 2px;
    height: 95%;
    top: 2px !important;
    background-color: #2f66ee;
    opacity: 1 !important;
    z-index: 5 !important;
  }
}

.ant-menu-item-only-child[data-menu-id="rc-menu-uuid-/guests"] {
  margin-left: 0 !important;
  color: var(--black-color);
  max-width: 100% !important;
  margin-bottom: 16px !important;
}

.ant-layout-sider-collapsed .ant-menu-item-only-child[data-menu-id="rc-menu-uuid-guests"] > div {
  padding: 9px 7px;
}

span {
  line-height: normal;
}

.os-scrollbar {
  width: 13px !important;
}

.os-scrollbar-track {
  height: 100% !important;
  background: #E0EFFF !important;
  border-radius: 20px !important;
  width: 100%;
}

.os-scrollbar-vertical .os-scrollbar-handle {
  height: 109px !important;
}

.ant-layout-sider-collapsed {
  width: 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
}

.ant-layout-sider-trigger {
  left: 0;
  background: transparent !important;

  & svg {
    fill: #000000 !important;
  }
}

.ant-space-horizontal {
  margin-bottom: 10px !important;
}

.ant-table-cell {
  padding-left: 0 !important;
}

.ant-table-title {
  padding: 0 !important;
}

thead > tr > th {
  font-weight: 400 !important;
  color: var(--text-tertiary-color) !important;
  line-height: 24px !important;
  border-bottom: none !important;
}

tbody > tr > td {
  font-weight: 400 !important;
  color: var(--black-color) !important;
  line-height: 24px !important;
}

.ant-input-prefix {
  margin-inline-end: 12px !important;
}

.ant-layout-sider .ant-layout-sider-trigger {
  display: none;
}

.ant-dropdown-menu {
  border-radius: 12px !important;
  padding: 0 !important;
}

.ant-dropdown-menu-item {
  width: 100%;
  border-radius: 0;
  padding: 14px 15px !important;
  color: var(--neutral-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--white-color-100);
  }
}

.ant-select-content {
  height: 100%;
  align-items: center !important;
}

.ant-select-selection-item {
  color: var(--neutral-gray-4);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background: transparent !important;
}

.ant-select-dropdown {
  border-radius: 12px !important;
  box-shadow: none !important;
  border: 1px solid var(--neutral-gray-6);
}

.ant-switch {
  height: 24px;
}

.ant-switch-handle, .ant-switch-handle::before {
  width: 20px !important;
  height: 20px !important;
  //inset-inline-start: auto !important;
  //right: 19px !important;
}

.ant-switch.ant-switch-checked {
  background: var(--base) !important;
}

.ant-switch.ant-switch-checked {
  background: var(--base) !important;
}