.container {
  width: 100%;
  background: var(--white-color);
  border-radius: var(--border-radius);
  padding: 24px;

  :global(.ant-select) {
    border-radius: 12px !important;
    height: 50px !important;
  }
}

.form {
  max-width: 708px;
}

.switchRow {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  color: var(--neutral-gray-1);

  span {
    line-height: 20px;
  }
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  max-width: 624px;
  width: 100%;
  margin-top: 8px;
}
