.container {
  background: var(--white-color);
  border-radius: var(--border-radius);
  padding: 24px;
}

.form {
  max-width: 708px;
  width: 100%;

  textarea {
    padding: 11px 16px;
    max-height: 80px;
    height: 100%;
  }

  :global {
    .ant-input,
    .ant-select,
    .ant-select-outlined,
    .ant-input-outlined {
      border-radius: 12px;
      border: 1px solid var(--border-color);
      background: var(--white-color);
      outline: none !important;

      &:focus,
      &:focus-within,
      &:hover {
        outline: none !important;
        box-shadow: 0 1px 2px 0 rgba(14, 14, 14, 0.02),
        0 0 0 3px rgba(14, 14, 14, 0.04);
      }
    }

    .ant-select.ant-select-outlined:not(
        .ant-select-disabled
      ).ant-select-focused {
      outline: none !important;
      box-shadow: 0 1px 2px 0 rgba(14, 14, 14, 0.02),
      0 0 0 3px rgba(14, 14, 14, 0.04);
    }
  }

  label {
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  max-width: 624px;
  width: 100%;
}

.switch {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;

  div {
    margin-bottom: 0 !important;
  }

  span {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 400;
  }
}
