.container {
  width: 100%;
  background: var(--white-color);
  border-radius: var(--border-radius);
  padding: 24px;
}

.form {
  max-width: 708px;

  :global(.ant-select) {
    height: 50px;
    border-radius: 12px;
  }

  :global(.ant-input-number) {
    height: 50px;
    width: 100%;
  }
}

.section {
  h3 {
    font-size: 14px;
    margin-bottom: 16px;
    color: var(--neutral-black);
    font-weight: 400;
    line-height: 20px;
  }
}

.row {
  display: flex;
  gap: 40px;

  & > div {
    flex: 1;
  }

  :global(.ant-select) {
    border-radius: 12px !important;
    height: 50px !important;
  }
}

.switch {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;

  div {
    margin-bottom: 0 !important;
  }

  span {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 400;
  }
}

:global(.ant-form-item) {
  margin-bottom: 0;
}

.colorOption {
  display: flex;
  align-items: center;
  gap: 10px;
}

.colorCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  max-width: 624px;
  width: 100%;
  margin-top: 8px;
}

.selectedServices {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.serviceItem {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr 1fr;
  gap: 12px;

  :global(.ant-input-disabled) {
    background: var(--white-color);
    color: var(--neutral-black);
  }
}

.totalPrice {
  flex: 1;
  font-weight: 600;
  text-align: right;
}
