.filter {
  max-width: 204px;
  width: 100% !important;
  min-width: 204px;
  max-height: 40px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0 16px;
}

.optionWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.colorDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.label {
  flex-grow: 1;
}
