.container {
  width: 100%;
}

.form {
  background: var(--bg-container);
  border-radius: var(--border-radius);
  padding: 32px;
}

.row {
  display: flex;
  gap: 24px;
  margin-bottom: 8px;

  & > div {
    flex: 1;
  }
}

.textarea {
  min-height: 120px;
}

.select {
  height: 50px;
  padding: 14px 12px;
  border-radius: 12px;
  background: var(--white-color);
  border: 1px solid var(--border-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  :global(.ant-select-selector) {
    background: #f8f9fb !important;
    border-radius: 12px !important;
    border: none !important;
    height: 50px !important;
    display: flex;
    align-items: center;

    &:hover {
      background: #f0f2f5 !important;
    }
  }
}

.colorOption {
  display: flex;
  align-items: center;
  gap: 10px;
}

.colorCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.actions {
  display: flex;
  gap: 16px;
  margin-top: 32px;

  button {
    min-width: 200px;
  }
}
