.deleteModal {
  text-align: center;

  .title {
    color: var(--neutral-black);
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
  }

  .description {
    color: var(--neutral-gray-1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 0 18px;
  }

  .actions {
    display: flex;
    gap: 24px;
    justify-content: center;

    button {
      max-width: 108px;
      width: 100%;
    }
  }
}