.container {
  width: 100%;
  background: var(--white-color);
  border-radius: var(--border-radius);
  padding: 24px;
}

.form {
  max-width: 708px;

  :global(.ant-select) {
    border: 1px solid var(--border-color) !important;
    border-radius: 12px !important;
    height: 50px !important;
    background: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.row {
  display: flex;
  gap: 40px;
  margin-bottom: 8px;

  & > div {
    flex: 1;
  }
}

.colorOption {
  display: flex;
  align-items: center;
  gap: 10px;
}

.colorCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  max-width: 624px;
  width: 100%;
}
