.container {
  padding: 24px;
  background-color: var(--bg-container);
  border-radius: 24px;
}

.title {
  margin-bottom: 24px !important;
}

.section {
  margin-bottom: 32px;
  max-width: 80%;
}

.row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.lastRow {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.dateTimeWrapper {
  display: flex;
  gap: 8px;
  flex: 1;
}

.datePicker {
  flex: 2;
}

.timePicker {
  flex: 1;
}

.flex1 {
  flex: 1;
}

.fullWidth {
  grid-column: 1 / -1;
}

.formItem {
  margin-bottom: 0;
}

.roomGroup {
  margin-bottom: 16px;
}

.roomGroupTitle {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  gap: 12px;

  .btn {
    flex: 1;
    max-width: 300px;
  }
}

.select {
  width: 100%;
  :global(.ant-form-item-control-input) {
    height: 44px !important;

    .ant-select .ant-select-lg .ant-select-outlined {
      height: 44px !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  :global(.ant-form-item-control-input-content) {
    height: 44px !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  :global(.ant-select) {
    width: 100% !important;
    min-width: 100% !important;
    min-height: 44px !important;
    height: 100% !important;
  }

  :global(.ant-picker) {
    width: 100% !important;
    height: 44px !important;
  }
}
