.tableHeader {
  .dropdown {
    width: auto;
    padding: 10px 12px;
    gap: 6px;
    border-radius: 24px;
    border: 1px solid var(--border-color);
    color: var(--neutral-gray-3);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}
