:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-color: #ffffff;
  --white-color-100: #f0f0f0;
  --white-color-200: #f4f4f4;
  --black-color: #1a1a1a;
  --body-bg-color: #efefef;
  --border-color: #e5e5e5;
  --border-radius: 24px;
  --text-tertiary-color: #737373;
  --text-secondary: #404040;

  /* Primary */
  --primary-light-1: #006ce3;
  --primary-light-2: #3389e9;
  --primary-light-3: #66a7ee;
  --primary-light-5: #b2d3f7;
  --primary-light-6: #cce2f9;
  --primary-dark-1: #004188;
  --primary-dark-2: #004188;
  --primary-dark-3: #0056b6;
  --primary-light-4: #99c4f4;

  /* Semantic - Green */
  --semantic-green: #34c759;
  --semantic-green-1: #71d88b;
  --semantic-green-2: #aee9bd;
  --semantic-green-3: #ebfaee;

  /* Semantic – Orange */
  --semantic-orange: #ff9500;
  --semantic-orange-1: #ffb54c;
  --semantic-orange-2: #ffd598;
  --semantic-orange-3: #fff4e5;

  /* Semantic – Red */
  --semantic-red: #ff3b30;
  --semantic-red-1: #ff746c;
  --semantic-red-2: #ffada8;
  --semantic-red-3: #ffe7e5;

  /* Neutral */
  --neutral-white: #fff;
  --neutral-gray-1: #5f5f5f;
  --neutral-gray-2: #7d7d7d;
  --neutral-gray-3: #9b9b9b;
  --neutral-gray-4: #b9b9b9;
  --neutral-gray-5: #d7d7d7;
  --neutral-gray-6: #f2f2f2;
  --neutral-gray-7: #f9f9f9;
  --neutral-gray-8: #fcfcfc;
  --neutral-black: #232323;

  /* Secondary - Base custom */
  --base: #22c36b;
  --base-light-1: #43cc81;
  --base-light-2: #64d597;
  --base-light-3: #85dead;
  --base-light-4: #a6e7c3;
  --base-light-5: #c7f0d9;
  --base-light-6: #e9fbf1;
}

:root.theme-dark {
  --primary-light-1: #3395ff;
  --primary-light-2: #66afff;
  --primary-light-3: #99caff;
  --primary-light-4: #b2d7ff;
  --primary-light-5: #cce4ff;
  --primary-light-6: #e5f2ff;
  --primary-dark-1: #003166;
  --primary-dark-2: #004999;
  --primary-dark-3: #0062cc;
  --primary-base: #007aff;

  /* Semantic – Green */
  --semantic-green: #30d158;
  --semantic-green-1: #6edf8a;
  --semantic-green-2: #acedbc;
  --semantic-green-3: #eafaee;

  /* Semantic – Orange */
  --semantic-orange: #ff9f0a;
  --semantic-orange-1: #ffbc53;
  --semantic-orange-2: #ffd99c;
  --semantic-orange-3: #fff5e5;

  /* Semantic – Red */
  --semantic-red: #ff453a;
  --semantic-red-1: #ff7b73;
  --semantic-red-2: #ffb1ac;
  --semantic-red-3: #ffe7e5;

  /* Secondary - Base custom */
  --base: #45cd83;
  --base-light-1: #61d596;
  --base-light-2: #7ddda9;
  --base-light-3: #99e5bc;
  --base-light-4: #b5edcf;
  --base-light-5: #d1f5e2;
  --base-light-6: #ebfaf2;
}
